In [2]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import datasets
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report 
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [3]:
#reading csv file
df = pd.read_csv("C:\\Users\\tarun\\Downloads\\HR_comma_sep.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
#checking for duplicate data
print('Duplicated data count: ',df.duplicated().sum())

Duplicated data count:  3008

In [5]:
#dropping duplicate data rows
df.drop_duplicates(subset=None, inplace=True)
print('Duplicated data count: ',df.duplicated().sum())

Duplicated data count:  0

In [6]:
#checking null valued columns
df.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [7]:
#as there are no duplicate and null valued data, so the csv file is cleaned and sanitized
#describing the data
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000,11991.000000
mean,0.629658,0.716683,3.802852,200.473522,3.364857,0.154282,0.166041,0.016929
std,0.241070,0.168343,1.163238,48.727813,1.330240,0.361234,0.372133,0.129012
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.480000,0.570000,3.000000,157.000000,3.000000,0.000000,0.000000,0.000000
50%,0.660000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.860000,5.000000,243.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [8]:
target = df.pop('salary')
df.head()
target.head()

0       low
1    medium
2    medium
3       low
4       low
Name: salary, dtype: object

In [9]:
char_cols = df.dtypes.pipe(lambda x: x[x== 'object']).index
label_mapping = {}

for c in char_cols:
    df[c], label_mapping[c] = pd.factorize(df[c])

In [10]:
from sklearn.preprocessing import StandardScaler
df = StandardScaler().fit_transform(df.values)

#split the data

x_train , x_test, y_train , y_test = train_test_split(df, target,test_size=0.2, shuffle=True)

clf = LogisticRegression().fit(x_train,y_train) 
pred = clf.predict(x_test)
print(pred,y_test)
print('training complete')
print(classification_report(y_test, pred))

['low' 'low' 'medium' ... 'medium' 'low' 'low'] 2389        low
975         low
3877        low
5766        low
5199       high
          ...
11376       low
10856    medium
9137        low
730      medium
2185        low
Name: salary, Length: 2399, dtype: object
training complete
              precision    recall  f1-score   support

        high       0.00      0.00      0.00       188
         low       0.52      0.82      0.63      1173
      medium       0.50      0.26      0.34      1038

    accuracy                           0.51      2399
   macro avg       0.34      0.36      0.33      2399
weighted avg       0.47      0.51      0.46      2399

C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\tarun\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))